<div class="posts-index">
  <div class="posts-index__box">
    <% @reviews.each do |review| %>
      <div class="card posts-index__box__card" style="width: 16rem;">
        <%= image_tag(review.item_image, class: "card-img-top") %>
        <div class="posts-index__box__card_user">
          <%= image_tag(review.user.image.url, class: "card-img-top posts-index__box__card_user__image") %>
          <p class="card-text"><%= review.user.nick_name %></p>
        </div>
        <div class="card-body">
          <p class="card-text"><%= review.item_comment %></p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @reviews %>
</div>

<%= render :partial => "share/sidebar_contens" %>