<div class="create-page">
  <div class="create-page__box">
    <div class="create-page__box__image">
      <%= image_tag(@item_image_url, class: "card-img-top", alt: "Card image cap") %>
    </div>
    <h5 class="create-page__box__title">
      <%= @item_title %>
    </h5>
  </div>
  <%= form_for(@review, url: reviews_create_path) do |f| %>
    <div class="form-group">
      <%= f.label :title, 'タイトル' %>
      <br>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :review_image, 'イメージ' %>
      <br>
      <%= f.file_field :review_image %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :reviews_valuation, '評価' %>
      <% Review.points.keys.each do |point|%>
        <%= f.radio_button :reviews_valuation, point %> <%= Review.points[point] %>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :item_comment, 'コメント' %>
      <%= f.text_area :item_comment, :class => 'form-control' %>
    </div>
    <%= f.hidden_field :item_image_url, value: @item_image_url %>
    <%= f.hidden_field :item_title, value: @item_title %>
    <%= f.submit 'レビューを作成する', :class => "btn btn-primary" %>
  <% end %>
</div>

