<!DOCTYPE html>
<html>
  <head>
    <title>Kings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>Kings</h1>
    </div>
    <%= yield %>
  </body>
</html>
